.btn-group .select {
}
.btn-group .select input:checked + label {
background-color: #ffc107;
}
.btn-group .select input:checked + label:hover, .btn-group .select input:checked + label:focus, .btn-group .select input:checked + label:active {
background-color: #ffc107;
}
.btn-group .select input {
opacity: 0;
position: absolute;
}
.btn-group .select .button_select {
margin: 0 10px 10px 0;
display: flex;
background-color: transparent;
}
.btn-group .select .button_select:hover, .btn-group .select .button_select:focus, .btn-group .select .button_select:active {
background-color: transparent;
}

.option {
position: relative;
}
.option input {
opacity: 0;
position: absolute;
}
.option input:checked + span {
background-color: #ffc107;
}
.option input:checked + span:hover, .option input:checked + span:focus, .option input:checked + span:active {
background-color: #ffc107;
}
.option .btn-option {
margin: 10px 10px 10px 0;
display: flex;
background-color: transparent;
}
.option .btn-option:hover, .option .btn-option:focus, .option .btn-option:active {
background-color: transparent;
}


.test{
	position: relative;
	color: white;
	display: flex;
	background-color: #FF8000 !important;
	margin-right: 10px;
}
.optest{
	position: relative;

}
.optest span{
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 7.5px;


}
input[type="radio"] {
    display: none;
}

.btn.addoption{
	background-color: blue;
	color: white;
}
.btn.submit{
	background-color: blue;
	color: white;
}
.submit-div{
	padding-left: 18vw;
}

