/*  table-outbox
------------------------------------- */
.table-outbox {
  box-shadow: 0px 35px 50px rgba(27, 31, 49, 0.1); /* 添加表格陰影 */
}

/*  table
------------------------------------- */
.table-outbox table {
  border-collapse: collapse; /* 表格邊框合併 */
  width: 100%; /* 寬度 100% */
  background-color: white; /* 背景白色 */
  margin-top: 1%;
}

.table-outbox table thead th {
  color: black; /* 表頭文字白色 */
  background: #9D9D9D ; /* 表頭背景白色 */
}

.table-outbox table td {
  text-align: center; /* 文字置中顯示 */
  padding: 5px; /* 添加內距 */
  font-size: 1.1em;
}

.table-outbox table th {
  text-align: center; /* 文字置中顯示 */
  padding: 10px; /* 添加內距 */
  font-size: 1em;
}

.table-outbox table td {
  border-right: 1px solid #f1f1f1; /* 表格 td 右邊框顏色 */
}

.table-outbox table tr:nth-child(even) {
  background: #f8f8f8; /* 表格偶數 tr 灰色背景 */
}
.candlestick-chart {
  margin-left: 2%;
  margin-top: 1%;
  float: left;
  width: 45%;
}
.table-outbox {
  margin-top: 1%;
  float: left;
  width: 51%;
}

.table-outbox .submit-button {
      background-color: #46A3FF; /* 綠色 */
      border: none;
      color: white;
      padding: 4px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 0.9em;
      margin: 4px 2px;
      cursor: pointer;
}

.table-outbox .submit-button:hover {
        background-color: #0072E3;
}


.floor {
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit-button.addbtn{
  font-size: 1.2em;
  padding: 7px 80px;
  background: #46A3FF; /* 表頭背景白色 */
  border-radius: 2px;
}

.submit-button.addbtn:hover{
  background: #0072E3; /* 表頭背景白色 */
}