<!DOCTYPE html>
<html>
<title>股票交易檢討系統</title>
{% include 'head.html' %}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/card_table_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/card_form_style.css') }}">

</head>
<body>
{% include 'navbar.html' %}
<h1>所有卡組</h1>
{% set amount = cards|length %}
<div class='rules'>
{% for i in range(cards|length) %}
    <div class="btn-group col-xs-12">
        <label class="option">
          <input type="radio" name="radiobox-group" id="form-{{ i }}"><span class="btn btn-warning btn-option"> {{cards[i]['卡組名稱']}}
        </label>
    </div>
    <p></p>
{% endfor %}


<div class="btn-group col-xs-12">
    <label class="option">
      <input type="radio" name="radiobox-group" id="form-{{ amount }}"><span class="btn btn-warning btn-option"> +
    </label>
</div>
<p></p>
</div>
<!-- Forms -->
{% for i in range(cards|length + 1) %}
{% if cards[i] %}
    {% set list = cards[i]['使用卡牌'].split('-') %}
{% else %}
    {% set list = [0] %}
    {% set i = amount %}
{% endif %}
<div class="container" id="form-{{ i }}-form" style="display: none;">

<form id='form{{ i }}' action="{{ url_for('cards') }}" method='post'>

    {% if cards[i] %}

    <div style="display:none">
        <label class="option">
          <input type="radio" value='{{ cards[i]["卡組名稱"] }}' name="rule_name" checked/>
        </label>
    </div>
    {% else %}
    <label for="rule_name">卡組名稱:</label>

    <input type="text" id="rule_name" name="rule_name" required><br>
    {% endif %}
    <label class="optest">
        <input type="radio" disabled><span class="test">投資期間</span>
    </label>
    <div class="btn-group col-xs-12">

        <label class="option">
            <input type="radio" value='long' name="term" {% if 'long' in list %} checked {% endif %}><span class="btn btn-warning btn-option">長期(20)</span>
        </label>
        <label class="option">
            <input type="radio" value='short' name="term" {% if 'short' in list %} checked {% endif %}><span class="btn btn-warning btn-option">短期(5)</span>
        </label>
    </div>
    <p></p>
    <label class="optest">
        <input type="radio" disabled><span class="test">趨勢指標</span>
    </label>
    <div class="btn-group col-xs-12">
        <label class="option">
            <input type="radio" value='sma' name="trend" {% if 'sma' in list %} checked {% endif %}><span class="btn btn-warning btn-option">穿越SMA</span>
        </label>

        <label class="option">
            <input type="radio" value='ema' name="trend" {% if 'ema' in list %} checked {% endif %}><span class="btn btn-warning btn-option">穿越EMA</span>
        </label>
        <label class="option">
            <input type="radio" value='wma' name="trend" {% if 'wma' in list %} checked {% endif %}><span class="btn btn-warning btn-option">穿越WMA</span>
        </label>
        <label class="option">
            <input type="radio" value='hma' name="trend" {% if 'hma' in list %} checked {% endif %}><span class="btn btn-warning btn-option">穿越HMA</span>
        </label>
    </div>
    <p></p>
    <label class="optest">
        <input type="radio" disabled><span class="test">震盪指標</span>
    </label>
    <div class="btn-group col-xs-12">
        <label class="option">
            <input type="radio" value='rsi' name="oscillators" {% if 'rsi' in list %} checked {% endif %}><span class="btn btn-warning btn-option">RSI強弱</span>
        </label>
        <label class="option">
            <input type="radio" value='stoch' name="oscillators" {% if 'stoch' in list %} checked {% endif %}><span class="btn btn-warning btn-option">STOCH強弱</span>
        </label>
        <label class="option">
            <input type="radio" value='cci' name="oscillators" {% if 'cci' in list %} checked {% endif %}><span class="btn btn-warning btn-option">CCI強弱</span>
        </label>
    </div>
    <p></p>
    <label class="optest">
        <input type="radio" disabled><span class="test">通道指標</span>
    </label>
    <div class="btn-group col-xs-12">
        <label class="option">
            <input type="radio" value='bbl' name="volatility" {% if 'bbl' in list %} checked {% endif %}><span class="btn btn-warning btn-option">穿越BBL</span>
        </label>
        <label class="option">
            <input type="radio" value='kc' name="volatility" {% if 'kc' in list %} checked {% endif %}><span class="btn btn-warning btn-option">穿越KC</span>
        </label>        
    </div>
    <p></p>
    <label class="optest">
        <input type="radio" disabled><span class="test">能量指標</span>
    </label>

    <div class="btn-group col-xs-12">
        <label class="option">
            <input type="radio" value='cmf' name="energy" {% if 'cmf' in list %} checked {% endif %}><span class="btn btn-warning btn-option">CMF強弱</span>
        </label>
        <label class="option">
            <input type="radio" value='mfi' name="energy" {% if 'mfi' in list %} checked {% endif %}><span class="btn btn-warning btn-option">MFI強弱</span>
        </label>        
    </div>
    <p></p>
    <label class="optest">
        <input type="radio" disabled><span class="test">自定義選項</span>
    </label>

    
    <div class="btn-group col-xs-12" id='custom{{ i }}'>
    {% for j in range(custom_list|length) %}
        {% if custom_list[j] != '' %}
          <div class="select">
              <input type="checkbox" id="item_{{ i }}_{{ j }}" name='item' value="{{ custom_list[j] }}" {% if custom_list[j] in list %} checked {% endif %} >
              <label class="btn btn-warning button_select" for="item_{{ i }}_{{ j }}">{{ custom_list[j] }}</label>
          </div>
        {% endif %}
    {% endfor %}
    </div>


    <form id="myForm">
    <input type="text" id="myText{{ i }}" placeholder="Enter some text">
    <button type="button" id="myButton" class='btn addoption' onclick="addOption({{ i }})">自訂策略</button>
    </form>
    <p></p>
    <div class='submit-div'>
        <button type="submit" class='btn submit' onclick="submit_form({{ i }})">提交</button>
    </div>

</form>
</div>
{% endfor %}





    <script>
var radios = document.querySelectorAll('input[type=radio]');

    // 獲取所有的 radiobox 和 form
    const radioboxes = document.querySelectorAll('input[type=radio][name="radiobox-group"]');
    const forms = document.querySelectorAll('.container');

    // 為每個 radiobox 添加事件監聽器
    radioboxes.forEach(radiobox => {
      radiobox.addEventListener('change', () => {
        // 隱藏所有的 form
        forms.forEach(form => form.style.display = 'none');
        // 顯示與選中的 radiobox 相關聯的 form
        document.querySelector(`#${radiobox.id}-form`).style.display = 'block';
      });
    });

function addOption(index) {
    // get the text input value
    var text = document.getElementById("myText" + index).value;
    console.log( document.getElementById("myText"))
    console.log(text)
    // create a new label element
    var label = document.createElement("label");
    label.className = "option";
    // create a new input element
    var input = document.createElement("input");
    input.type = "checkbox";
    input.name = "item";
    input.value = text;

    // create a new span element
    var span = document.createElement("span");
    span.className = "btn btn-warning btn-option";
    console.log(text)
    span.textContent = text;
    // append the input and span to the label
    label.appendChild(input);
    label.appendChild(span);
    // get the div element
    var div = document.getElementById("custom" + index);
    // append the label to the div
    div.appendChild(label);
    console.log(label)
}
function submit_form(index) {
    var form = document.getElementById("form" + index);
    form.submit();
}
</script>
</body>
</html>