<!DOCTYPE html>
<html>
<title>編輯卡組</title>
<body>
    <h1>編輯卡組{{ cards[0]['卡組名稱'] }}</h1>
<form method="post">
<div>
<input type="text" id="name" name="combination_name" placeholder="請輸入名稱" value="">
</div>
<div>
<div>
<input type="checkbox" id="cat" name="card_name" value="cat" {% if 'cat' in cards[0]['使用卡牌']%}checked{% endif %}>
<label for="cat"><img src="cat.jpg">cat</label>
</div>
<div>
<input type="checkbox" id="dog" name="card_name" value="dog" {% if 'dog' in cards[0]['使用卡牌']%}checked{% endif %}>
<label for="dog"><img src="dog.jpg">dog</label>
</div>
<div>
<input type="checkbox" id="bird" name="card_name" value="bird" {% if 'bird' in cards[0]['使用卡牌'] %}checked{% endif %}>
<label for="bird"><img src="bird.jpg">bird</label>
</div>

<button type="submit">提交</button>
</div>
</form>



</body>
</html>
