<!DOCTYPE html>
<html>
<head>
    <title>編輯交易</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/edit_form_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index_table_style.css') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />

</head>
<body>
<div class='form_div'>
  <form method='post'>
    <h2>Form Validation</h2>
    <div class="form-group">
        <label for="stock-symbol">股票代號</label>
      <input type="text" id="stock-symbol" name="stock_symbol" value="{{ trade[0]['股票代號'] }}" readonly>
    </div>
    <div class="form-group">
        <label for="stock-name">股票名稱</label>
        <input type="text" id="stock-name" name="stock_name" value="{{ trade[0]['股票名稱'] }}" readonly><br>
    </div>
    <div class="form-group">
        <label for="price">價格:</label>
        <input type="number" step="0.01" id="price" name="price" value="{{ trade[0]['價格'] }}" required><br>
    </div>
    <div class="form-group">
        <label for="quantity">數量:</label>
        <input type="number" id="quantity" name="quantity" value="{{ trade[0]['數量'] }}" required><br>
    </div>
    <div class="form-group">
        <label for="reason">原因:</label>
        <input type="text" id="reason" value="{{ trade[0]['原因'] }}" name="reason"><br>
    </div>
    <div class="form-group date">
      <label for="date">日期</label>
      <input type="date" id="date" name="date" value="{{ trade[0]['日期'] }}" placeholder="輸入交易日期" required>
    </div>
    <div class="form-group gender">
      <label for="action">行為</label>
      <select id="action" name="action" >
        <option value="{{ trade[0]['買/賣'] }}" selected >{{ trade[0]['買/賣'] }}</option>
        <option value="買">買</option>
        <option value="賣">賣</option>
      </select>
    </div>
    <div class="form-group gender">
      <label for="rule">使用規則:</label>
      <select id="rule" name="rule">
          <option  value="{{ trade[0]['使用規則'] }}" selected>{{ trade[0]['使用規則'] }}</option>
          {% for card in cards %}
          <option value="{{ card['卡組名稱'] }}">{{ card['卡組名稱'] }}</option>
          {% endfor %}
      </select>
    </div>
    <div class="form-group submit-btn">
      <input type="submit" value="Submit">
    </div>
  </form>
</div>



</body>
</html>

