<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login & Registration Form</title>
  <!---Custom CSS File--->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/userform.css') }}">

</head>
<body>
  <div class="container">
    <div class="login form">
      <header>Login</header>
      <form method="POST" action="/login">
        {{ form.hidden_tag() }}
        {{ form.username }}
        {{ form.password }}
        {{ form.submit }}
        <!-- <input type="text" placeholder="Enter your email"> -->
        <!-- <input type="password" placeholder="Enter your password"> -->
        <!-- <input type="button" class="button" value="Login"> -->
      </form>
      <div class="signup">
        <span class="signup">Don't have an account?
         <a href="{{ url_for('register') }}">Signup</a>
        </span>
      </div>
    </div>
  </div>
</body>
</html>