<!DOCTYPE html>
<!--=== Coding by CodingLab | www.codinglabweb.com === -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/review_form_style.css') }}">


    <!----======== CSS ======== -->

    <!----===== Iconscout CSS ===== -->
    <!-- <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"> -->

    <title>績效報表</title> 

</head>
<body>
    {% include 'navbar.html' %}
    <div class='grid-container'>
<div class="graph1">
    <h3>交易波段圖</h3>
    <div id="plot"></div>
</div>
<div class="graph2">
    <h3>執行分析圖</h3>
    <div>{{ fig|safe }}</div>
</div>
<div class="block1">
    <div class="title">
        <h3>股票基本資料</h3>
    </div>
    <div class="content">
    <table class="profile-table">
    <tr>
        <td>股票名稱</td>
        {% if review %}
            <td>{{ review[0]['股票名稱'] }}</td>
        {% else %}
            <td>{{ option }}</td>
        {% endif %}
    </tr>
    <tr>
        <td>獲利</td>
        {% if review %}
            <td id='data2'>{{ review[0]['獲利'] }}</td>
        {% else %}
            <td id='data2'>{{ basic_info['獲利'] }}</td>
        {% endif %}
    </tr>
    <tr>
        <td>報酬率</td>
        {% if review %}
            <td id='data3'>{{ review[0]['報酬率'] }}</td>
        {% else %}
            <td id='data3'>{{ basic_info['報酬率'] }}</td>
        {% endif %}
    </tr>
    <tr>
        <td>交易筆數</td>
        {% if review %}
            <td id='data4'>{{ review[0]['交易筆數'] }}</td>
        {% else %}
            <td id='data4'>{{ basic_info['交易筆數'] }}</td>
        {% endif %}
    </tr>
    <tr>
        <td>交易期間</td>
        {% if review %}
            <td id='data5'>{{ review[0]['交易期間'] }}</td>
        {% else %}
            <td id='data5'>{{ basic_info['交易期間'] }}</td>
        {% endif %}
    </tr>
    <tr>
        <td>使用策略</td>
        {% if review %}
            <td>{{ review[0]['使用規則'] }}</td>
        {% else %}
            <td>{{ rule }}</td>
        {% endif %}
    </tr>
</table>
    </div>
    <div class="button">
    </div>

</div>

<div class="block2">
    <div class="title">
        <h3>點位資料</h3>
    </div>
    <div class="content">
        <table class="point-table">
            <tr>
            <td>價格</td>
            <td id='price'></td>
            </tr>
            <tr>
            <td>數量</td>
            <td id='volume'></td>
            </tr>
            <tr>
            <td>交易類型</td>
            <td id='action'></td>
            </tr>
            <tr>
            <td>日期</td>
            <td id='date'></td>
            </tr>
        </table>
    </div>
    <div class="button">
    </div>
</div>
<div class="block3">
    <div class="title">
        <h3>系統檢測結果</h3>
    </div>
    <div class="content">
        <div class="follow" id="follow">
<!--             <div class="item">
                <span class="checkmark">✔</span>
                項目1
            </div>
            <div class="item">
                <span class="checkmark">✔</span>
                項目2
            </div> -->
        </div>
        <div class="violate" id="violate">
<!--             <div class="item">
                <span class="cross">✘</span>
                項目1
            </div>
            <div class="item">
                <span class="cross">✘</span>
                項目2
            </div> -->
        </div>
    </div>
    <div class="button">
    </div>
</div>
<div class="block5">
    <form id="custom_indicator" action="/update_custom" method="POST">
        <div class="title">
            <h3>自訂項目</h3>
        </div>

        <div class="content">
<!--             <div class="item">
                <label>
                    <input type="radio" name="item1" class="checkmark-radio">
                    <span>✔</span>
                </label>
                <label>
                    <input type="radio" name="item1" class="cross-radio">
                    <span>✘</span>
                </label>
                項目1
            </div>
            <div class="item">
                <label>
                    <input type="radio" name="item2" class="checkmark-radio">
                    <span>✔</span>
                </label>
                <label>
                    <input type="radio" name="item2" class="cross-radio">
                    <span>✘</span>
                </label>
                項目2
            </div> -->
        </div>
        <div class="button">
            <input type="submit" value="更新" class="submit-button">
        </div>
    </form>

</div>
<div class="block6">
    {% if review %}
        <form action="{{ url_for('edit_review', review_id=review[0]['review_id']) }}" method="post" >
    {% else %}
        <form action="{{ url_for('update_review') }}" method="post" >
    {% endif %}
    <input type="hidden" id="stock_name" name="stock_name" value='{{ option }}'>
    <input type="hidden" id="profit" name="profit">
    <input type="hidden" id="ratio" name="ratio">
    <input type="hidden" id="number" name="number">
    <input type="hidden" id="duration" name="duration">
    <input type="hidden" id="rule" name="rule" value='{{ rule }}'>
    <div class="title">
          <label for="myTextarea"><h3>結論</h3></label>
    </div>
    <div class="content">



    {% if review %}
        <textarea class="textarea" name="myTextarea" rows="4">{{ review[0]['結論'] }}</textarea><br>
    {% else %}
            <textarea class="textarea" name="myTextarea" rows="4"></textarea><br>
    {% endif %}
            
    </div>
    <div class="button">
            <input type="submit" value="提交" class="submit-button">

    </div>
    </form>
</div>
</div>
        



    <script type="text/javascript">
        // 從Flask傳遞的數據
        var data = {{ data|safe }};
        var trade_data = {{ trade_data|safe }};
        console.log(data)
        console.log(trade_data)
        // 解析JSON字符串為JavaScript對象
        // data = JSON.parse(data);
        // trade_data = JSON.parse(trade_data);

        // 使用Plotly.js繪製蠟燭圖和移動平均線
        var trace1 = {
            x: data.map(d => d.date),
            open: data.map(d => d.open),
            high: data.map(d => d.high),
            low: data.map(d => d.low),
            close: data.map(d => d.close),
            type: 'candlestick',
            name: '股票價格'
        };

        var trace2 = {
            x: data.map(d => d.date),
            y: data.map(d => d.MA5),
            type: 'scatter',
            name: 'MA5'
        };

        var trace3 = {
            x: data.map(d => d.date),
            y: data.map(d => d.MA20),
            type: 'scatter',
            name: 'MA20'
        };

        // 繪製買賣點位
        var trace4 = {
            x: trade_data.filter(d => d.type === 'buy').map(d => d.date),
            y: trade_data.filter(d => d.type === 'buy').map(d => d.price),
            text: trade_data.filter(d => d.type === 'sell').map(d => d.volume), // 添加成交量信息
            mode: 'markers',
            type: 'scatter',
            name: '買點',
            marker: {
                size: 10,
                color: 'green'
            },
            hovertemplate: '日期:<b>%{x}</b><br><b>%{y:$.2f}</b><br>%{text}<extra></extra>',

        };

        var trace5 = {
            x: trade_data.filter(d => d.type === 'sell').map(d => d.date),
            y: trade_data.filter(d => d.type === 'sell').map(d => d.price),
            text: trade_data.filter(d => d.type === 'sell').map(d => d.volume), // 添加成交量信息
            mode: 'markers',
            type: 'scatter',
            name: '賣點',
            marker: {
                size: 10,
                color: 'red'
            },
            hovertemplate: '日期:<b>%{x}</b><br><b>%{y:$.2f}</b><br>%{text}<extra></extra>',
        };

        var layout = {
            hovermode:'closest',

            title: '股票價格和移動平均線',
            xaxis: {
                title: '日期',
                fixedrange: true,
                rangeslider: {visible: false}
            },
            yaxis: {
                title: '價格' 
            },
            // 調整圖表的寬度和高度
            width: 550,
            height: 400,
            margin: {
                l: 50, // 左邊距
                r: 50, // 右邊距
                b: 100, // 下邊距
                t: 100, // 上邊距
                pad: 4 // 邊框與繪圖區域之間的額外空間
            },
                sliders: [{
                visible: false
            }]
        };
        Plotly.newPlot('plot', [trace1, trace2, trace3, trace4, trace5], layout);
        var plotDiv = document.getElementById('plot');
        plotDiv.on('plotly_click', function(data){
            var point = data.points[0];
            if (point.data.name === '買點' || point.data.name === '賣點') {
                document.getElementById("date").innerHTML = point.x;
                document.getElementById("action").innerHTML = point.data.name ;
                document.getElementById("price").innerHTML = point.y;
                document.getElementById("volume").innerHTML = point.text;
                fetch('/check_point', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        date: point.x,
                        price: point.y,
                        type: point.data.name === '買點' ? 'buy' : 'sell',
                        option: "{{option}}",
                        rule: "{{rule}}",
                    })
                })
                .then(response => response.json())
                .then(data => {

                    var follow = document.getElementById('follow');
                    while (follow.firstChild) {
                        follow.removeChild(follow.firstChild);
                    }
                    data['系統遵守'].forEach(item => {
                        if(item != 'nan'){
                        const itemDiv = document.createElement('div');
                        itemDiv.classList.add('item');

                        const checkmarkSpan = document.createElement('span');
                        checkmarkSpan.classList.add('checkmark');
                        checkmarkSpan.textContent = '✔';

                        itemDiv.appendChild(checkmarkSpan);
                        itemDiv.appendChild(document.createTextNode(item));

                        follow.appendChild(itemDiv);
                        }


                    });

                    var violate = document.getElementById('violate');
                    while (violate.firstChild) {
                        violate.removeChild(violate.firstChild);
                    }
                    data['系統違反'].forEach(item => {
                        if(item != 'nan'){
                        const itemDiv = document.createElement('div');
                        itemDiv.classList.add('item');

                        const checkmarkSpan = document.createElement('span');
                        checkmarkSpan.classList.add('cross');
                        checkmarkSpan.textContent = '✘';

                        itemDiv.appendChild(checkmarkSpan);
                        itemDiv.appendChild(document.createTextNode(item));

                        violate.appendChild(itemDiv);
                        }


                    });
                    let form = document.getElementById('custom_indicator');
                    var content = document.querySelector('.block5 .content');
                    while (content.firstChild) {
                        content.removeChild(content.firstChild);
                    }
                    data['待決定'].forEach(function(itemName) {
                        if(itemName != 'nan' &&  itemName != ''){
                        var item = document.createElement('div');
                        item.className = 'item';
                        item.innerHTML = `
                            <label>
                                <input type="radio" name="${itemName}" value="遵守" class="checkmark-radio">
                                <span>✔</span>
                            </label>
                            <label>
                                <input type="radio" name="${itemName}" value="違反" class="cross-radio">
                                <span>✘</span>
                            </label>
                            ${itemName}
                        `;
                        content.appendChild(item);
                        }
                    });
                    data['遵守'].forEach(function(itemName) {
                        if(itemName != 'nan' && itemName != ''){
                        var item = document.createElement('div');
                        item.className = 'item';
                        item.innerHTML = `
                            <label>
                                <input type="radio" name="${itemName}" value="遵守" class="checkmark-radio" checked>
                                <span>✔</span>
                            </label>
                            <label>
                                <input type="radio" name="${itemName}" value="違反" class="cross-radio">
                                <span>✘</span>
                            </label>
                            ${itemName}
                        `;
                        content.appendChild(item);
                        }
                    });
                    data['違反'].forEach(function(itemName) {
                        if(itemName != 'nan' &&  itemName != ''){
                        var item = document.createElement('div');
                        item.className = 'item';
                        item.innerHTML = `
                            <label>
                                <input type="radio" name="${itemName}" value="遵守" class="checkmark-radio" >
                                <span>✔</span>
                            </label>
                            <label>
                                <input type="radio" name="${itemName}" value="違反" class="cross-radio" checked>
                                <span>✘</span>
                            </label>
                            ${itemName}
                        `;
                        content.appendChild(item);
                        }
                    });

                    let submit = document.createElement('input');
                    submit.type = 'submit';
                    console.log("form", form)

                    // 創建第一個隱藏輸入字段
                    var input1 = document.createElement('input');
                    input1.type = 'hidden';
                    input1.id = 'hiddenDate';
                    input1.name = 'date';
                    input1.value = document.getElementById("date").innerHTML;
                    content.appendChild(input1); // 將輸入字段添加到表單中

                    // 創建第二個隱藏輸入字段
                    var input2 = document.createElement('input');
                    input2.type = 'hidden';
                    input2.id = 'hiddenPrice';
                    input2.name = 'price';
                    input2.value = document.getElementById("price").innerHTML;
                    content.appendChild(input2); // 將輸入字段添加到表單中

                    // 創建第三個隱藏輸入字段
                    var input3 = document.createElement('input');
                    input3.type = 'hidden';
                    input3.id = 'hiddenAction';
                    input3.name = 'action';
                    input3.value = document.getElementById("action").innerHTML;
                    content.appendChild(input3); // 將輸入字段添加到表單中

                    for (let custom of stay) {
                        if(custom != 'nan'){
                        let label = document.createElement('label');
                        label.setAttribute('for', custom);
                        label.textContent = custom + ':';
                        form.appendChild(label);

                        let select = document.createElement('select');
                        select.id = custom;
                        select.name = custom;
                        let option1 = document.createElement('option');
                        option1.value = '遵守';
                        option1.textContent = '遵守';
                        select.appendChild(option1);

                        let option2 = document.createElement('option');
                        option2.value = '違反';
                        option2.textContent = '違反';
                        select.appendChild(option2);
                        form.appendChild(select);

                        form.appendChild(document.createElement('br'));
                        }
                    }
                    form.appendChild(submit);

                });

            }
        });
        window.onload = function() {
            var profit = document.getElementById("data2").innerHTML;
            document.getElementById("profit").value = profit;
            var ratio = document.getElementById("data3").innerHTML;
            document.getElementById("ratio").value = ratio;
            var number = document.getElementById("data4").innerHTML;
            document.getElementById("number").value = number;
            var duration = document.getElementById("data5").innerHTML;
            document.getElementById("duration").value = duration;

      }
    </script>
</body>
</html>

