<!DOCTYPE html>
<!--=== Coding by CodingLab | www.codinglabweb.com === -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/review_form_style.css') }}">

<style>
    .chart_div {
    position: fixed;
    top: 10%;
    left: 2%;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    align-items: center;
    justify-content: center;
    width: 96vw;
    height: 80vh;
    padding: 15px;
    background: white;
    border-radius: 7px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
    }
    .func-btn{
      color: white;
      border: none;
      height: auto;
      font-size: 14px;
      padding: 6px 10px;
      border-radius: 5px;
      cursor: pointer;
      font-weight: 500;
      text-align: center;
      background: #1BB295;
      transition: 0.2s ease;
        margin-left: 10px;
    }
    .zoom-btn:hover{
        background: #179b81;
    }
</style>
    <!----======== CSS ======== -->

    <!----===== Iconscout CSS ===== -->
    <!-- <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"> -->

    <title>績效報表</title> 

</head>
<body>
    {% include 'temp/navbar.html' %}
    <div class='grid-container'>
            <div class="graph1">
                <div class="title">
                    <h3>交易波段圖</h3>
                    <button id="showButton" class='func-btn' >放大檢視</button>
                </div>
                <div id="plot"></div>
            </div>
            <div class="graph2">
                <div class="title">
                    <h3>執行分析圖</h3>
                    <button id="toggle-button" class='func-btn' >切換顯示</button>
                </div>

                <div id="fig">{{ fig|safe }}</div>
                <div id="fig2" style="display: none;">{{ fig2|safe }}</div>
            </div>
<div class="block1">
    <div class="title">
        <h3>股票基本資料</h3>
    </div>
    <div class="content">
    <table class="profile-table">
    <tr>
        <td>股票名稱</td>
        <td>{{ sname }}</td>
    </tr>
    <tr>
        <td>獲利</td>
        <td id='data2'>{{ earning }}</td>
    </tr>
    <tr>
        <td>報酬率</td>
        <td id='data3'>{{ earate }}%</td>
    </tr>
    <tr>
        <td>交易筆數</td>
        <td>{{ trades|length }}</td>
    </tr>
    <tr>
        <td>交易期間</td>
        <td>{{ min_date }}到{{ max_date }}</td>
    </tr>
    <tr>
        <td>使用策略</td>
        <td>{{ strategy_name }}</td>
    </tr>
</table>
    </div>
    <div class="button">
    </div>

</div>

<div class="block2">
    <div class="title">
        <h3>點位資料</h3>
    </div>
    <div class="content">
        <table class="point-table">
            <tr>
            <td>價格</td>
            <td id='price'></td>
            </tr>
            <tr>
            <td>數量</td>
            <td id='volume'></td>
            </tr>
            <tr>
            <td>交易類型</td>
            <td id='action'></td>
            </tr>
            <tr>
            <td>日期</td>
            <td id='date'></td>
            </tr>
        </table>
    </div>
    <div class="button">
    </div>
</div>
<div class="block3">
    <div class="title">
        <h3>系統檢測結果</h3>
    </div>
    <div class="content">
        <div class="follow" id="follow">
<!--             <div class="item">
                <span class="checkmark">✔</span>
                項目1
            </div>
            <div class="item">
                <span class="checkmark">✔</span>
                項目2
            </div> -->
        </div>
        <div class="violate" id="violate">
<!--             <div class="item">
                <span class="cross">✘</span>
                項目1
            </div>
            <div class="item">
                <span class="cross">✘</span>
                項目2
            </div> -->
        </div>
    </div>
    <div class="button">
    </div>
</div>
<div class="block5">
    <form id="custom_indicator" action="/update_custom" method="POST">
        <div class="title">
            <h3>自訂項目</h3>
        </div>
        <input type="hidden" id="trade_id" name="trade_id" value="">
        <div class="content">
<!--             <div class="item">
                <label>
                    <input type="radio" name="item1" class="checkmark-radio">
                    <span>✔</span>
                </label>
                <label>
                    <input type="radio" name="item1" class="cross-radio">
                    <span>✘</span>
                </label>
                項目1
            </div>
            <div class="item">
                <label>
                    <input type="radio" name="item2" class="checkmark-radio">
                    <span>✔</span>
                </label>
                <label>
                    <input type="radio" name="item2" class="cross-radio">
                    <span>✘</span>
                </label>
                項目2
            </div> -->
        </div>
        <div class="button">
            <input type="submit" value="更新" class="submit-button">
        </div>
    </form>

</div>
<div class="block6">
    <form action="{{ url_for('temp_add_report') }}" method="post" >
    <input type="hidden" id="sname" name="sname" value='{{ sname }}'>
    <input type="hidden" id="profit" name="profit">
    <input type="hidden" id="ratio" name="ratio">
    <input type="hidden" id="number" name="number">
    <input type="hidden" id="duration" name="duration">
    <input type="hidden" id="strategy_name" name="strategy_name" value='{{ strategy_name }}'>
    <div class="title">
          <label for="myTextarea"><h3>結論</h3></label>
    </div>
    <div class="content">



    {% if review %}
        <textarea class="textarea" name="myTextarea" rows="3">{{ review[0]['結論'] }}</textarea><br>
    {% else %}
            <textarea class="textarea" name="myTextarea" rows="3"></textarea><br>
    {% endif %}
            
    </div>
    <div class="button">
            <input type="submit" value="提交" class="submit-button">
    </div>
    </form>
</div>
</div>

<div class="chart_div">
    <h3>交易波段圖</h3>
    <div id="chart"></div>
</div>





    <script type="text/javascript">

        const chartDiv = document.querySelector(".chart_div");
        var dt_break = {{ dt_break|tojson }};
        document.getElementById("showButton").addEventListener("click", function() {
            chartDiv.style.opacity = '1';
            chartDiv.style.zIndex = "9999";
            console.log("SHIW")
        });

        document.addEventListener('click', (event) => {
          if (!chartDiv.contains(event.target) && event.target !== document.getElementById("showButton")) {
            chartDiv.style.opacity = '0';
            chartDiv.style.zIndex = "-1";
          }
        });

        // 從Flask傳遞的數據
        var data = {{ stock_data|safe }};
        var trade_data = {{ data_all|safe }};
        console.log(data)
        console.log(trade_data)
        // 解析JSON字符串為JavaScript對象
        // data = JSON.parse(data);
        // trade_data = JSON.parse(trade_data);

        // 使用Plotly.js繪製蠟燭圖和移動平均線
        var trace1 = {
            x: data.map(d => d.Date),
            open: data.map(d => d.Open),
            high: data.map(d => d.High),
            low: data.map(d => d.Low),
            close: data.map(d => d.Close),
            type: 'candlestick',
            name: '股票價格',
            hovertemplate: '<b>日期:%{x}</b><br><b>開:%{open:$.2f}</b><br><b>收:%{close:$.2f}</b><br><b>高:%{high:$.2f}</b><br><b>低:%{low:$.2f}</b><extra></extra>',

        };

        var trace2 = {
            x: data.map(d => d.Date),
            y: data.map(d => d.MA5),
            type: 'scatter',
            name: 'MA5',
            hovertemplate: '<b>日期:%{x}</b><br><b>MA5:%{y:$.2f}</b><extra></extra>',
        };

        var trace3 = {
            x: data.map(d => d.Date),
            y: data.map(d => d.MA20),
            type: 'scatter',
            name: 'MA20',
            hovertemplate: '<b>日期:%{x}</b><br><b>MA20:%{y:$.2f}</b><extra></extra>',
        };

        var trace4 = {
            x: trade_data.filter(d => d.Type === '買').map(d => d.Date),
            y: trade_data.filter(d => d.Type === '買').map(d => d.Price),
            text: trade_data.filter(d => d.Type === '買').map(d => d.Id),
            mode: 'markers',
            type: 'scatter',
            name: '買點',
            marker: {
                symbol: 'triangle-up-open', // 設定 marker 的形狀為空心三角形
                size: 13,
                color: 'black',
                line: { // 設定 marker 的框線屬性
                  color: 'black', // 設定框線顏色
                  width: 2 // 設定框線粗細
                }
            },
            hovertemplate: '<b>日期:%{x}</b><br><b>買價:%{y:$.2f}</b><extra></extra>',

        };

        var trace5 = {
            x: trade_data.filter(d => d.Type === '賣').map(d => d.Date),
            y: trade_data.filter(d => d.Type === '賣').map(d => d.Price),
            text: trade_data.filter(d => d.Type === '賣').map(d => d.Id), // 添加成交量信息            mode: 'markers',
            type: 'scatter',
            name: '賣點',
            marker: {
                symbol: 'triangle-down-open', // 設定 marker 的形狀為空心三角形
                size: 13,
                color: 'black',
                line: { // 設定 marker 的框線屬性
                  color: 'black', // 設定框線顏色
                  width: 2 // 設定框線粗細
                }
            },
            hovertemplate: '<b>日期:%{x}</b><br><b>賣價:%{y:$.2f}</b><extra></extra>',
        };
        var trace6 = {
            x: data.map(d => d.Date),
            y: data.map(d => d.MA60),
            type: 'scatter',
            name: 'MA60'
        };

        var trace7 = {
            x: data.map(d => d.Date),
            y: data.map(d => d.MA50),
            type: 'scatter',
            name: 'MA50'
        };

        var trace8 = {
          x: data.map(d => d.Date),
          y: data.map(d => d.MFI), // MFI 數據
          type: 'scatter',
          name: 'MFI',
          xaxis: 'x',
          yaxis: 'y2',
          hovertemplate: '<b>日期： %{x}<br>MFI： %{y:.2f}</b><extra></extra>'

        };



        var up_line = {
          x: [data[0].Date, data[data.length - 1].Date],
          type: 'scatter',
          mode: 'lines',
          line: {color:'red', dash:'dash'},
          name: '上界線',
          xaxis: 'x',
          yaxis: 'y2'
        };

        var middle_line = {
          x: [data[0].Date, data[data.length - 1].Date],
          type: 'scatter',
          mode: 'lines',
          line: {color:'blue', dash:'dash'},
          name: '中界線',
          xaxis: 'x',
          yaxis: 'y2'
        };

        var bottom_line = {
          x: [data[0].Date, data[data.length - 1].Date],
          type: 'scatter',
          mode: 'lines',
          line: {color:'green', dash:'dash'},
          name: '下界線',
          xaxis: 'x',
          yaxis: 'y2'
        };

        var trace_vol5 = {
          x: data.map(d => d.Date),
          y: data.map(d => d.vol5), 
          type: 'scatter',
          line: {color:'red'},
          name: 'VOL5',
          xaxis: 'x',
          yaxis: 'y2',
          hovertemplate: '<b>日期： %{x}<br>Vol5： %{y:.0f}</b><extra></extra>'
        };

        var trace_vol20 = {
          x: data.map(d => d.Date),
          y: data.map(d => d.vol20),
          type: 'scatter',
          line: {color:'green'},
          name: 'VOL20',
          xaxis: 'x',
          yaxis: 'y2',
          hovertemplate: '<b>日期： %{x}<br>Vol20： %{y:.0f}</b><extra></extra>'
        };

        var trace_cci = {
          x: data.map(d => d.Date),
          y: data.map(d => d.CCI),
          type: 'scatter',
          name: 'CCI',
          xaxis: 'x',
          yaxis: 'y2',
          hovertemplate: '<b>日期： %{x}<br>CCI： %{y:.2f}</b><extra></extra>'
        };

        var trace_rsi = {
          x: data.map(d => d.Date),
          y: data.map(d => d.RSI),
          type: 'scatter',
          name: 'RSI',
          xaxis: 'x',
          yaxis: 'y2',
          hovertemplate: '<b>日期： %{x}<br>RSI： %{y:.2f}</b><extra></extra>'
        };

        var layout = {
            hovermode:'closest',
            title: '股票價格和移動平均線',
            xaxis: {
                title: '日期',
                fixedrange: true,
                rangeslider: {visible: false},
            },
            yaxis: {
                title: '價格' 
            },
            width: 500,
            height: 250,
            margin: {
                l: 50, 
                r: 50, 
                b: 0, 
                t: 50, 
                pad: 4 
            },
            sliders: [{
                visible: false
            }]
        };

        var zoom_in_layout = {
            hovermode:'closest',
            title: '股票價格和移動平均線',
            xaxis: {
                title: '日期',
                fixedrange: true,
                rangeslider: {visible: false},
                domain:[0,1],
                rangebreaks: dt_break
            },
            yaxis: {
                title: '價格' ,
                domain:[0.3,1],
            },
            yaxis2:{
                title:'index_value',
                domain:[0,0.2],
                // tickmode: 'array',
                // tickvals: [0, 50, 100],
                // ticktext: ['0', '50', '100'],
                anchor:'x',
            },
            width: 1400,
            height: 600,
            margin: {
                l: 100, 
                r: 0, 
                b: 50, 
                t: 50, 
                pad: 4 
            },
            sliders: [{
                visible:false
            }]
        };


        Plotly.newPlot('plot', [trace1, trace2, trace3, trace4, trace5, trace6, trace7], layout);
        Plotly.newPlot('chart', [trace1, trace2, trace3, trace4, trace5, trace6, trace7, trace_cci , up_line, middle_line, bottom_line], zoom_in_layout);

        var plotDiv = document.getElementById('plot');
        plotDiv.on('plotly_click', function(data){
            var point = data.points[0];
            if (point.data.name === '買點' || point.data.name === '賣點') {
                document.getElementById("date").innerHTML = point.x;
                document.getElementById("action").innerHTML = point.data.name ;
                document.getElementById("price").innerHTML = point.y;
                var Id = point.text;

                fetch('/check_point', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        Id: Id,
                    })
                })
                .then(response => response.json())
                .then(data => {
                    document.getElementById("volume").innerHTML = data['Volume'];
                    document.getElementById("trade_id").value = Id;
                    var follow = document.getElementById('follow');
                    while (follow.firstChild) {
                        follow.removeChild(follow.firstChild);
                    }
                    data['系統遵守'].forEach(item => {
                        if(item != 'nan'){
                                const itemDiv = document.createElement('div');
                                itemDiv.classList.add('item');

                                const checkmarkSpan = document.createElement('span');
                                checkmarkSpan.classList.add('checkmark');
                                checkmarkSpan.textContent = '✔';

                                itemDiv.appendChild(checkmarkSpan);
                                itemDiv.appendChild(document.createTextNode(item));

                                follow.appendChild(itemDiv);

                        }


                    });

                    var violate = document.getElementById('violate');
                    while (violate.firstChild) {
                        violate.removeChild(violate.firstChild);
                    }
                    data['系統違反'].forEach(item => {
                        if(item != 'nan'){
                                const itemDiv = document.createElement('div');
                                itemDiv.classList.add('item');

                                const checkmarkSpan = document.createElement('span');
                                checkmarkSpan.classList.add('cross');
                                checkmarkSpan.textContent = '✘';

                                itemDiv.appendChild(checkmarkSpan);
                                itemDiv.appendChild(document.createTextNode(item));

                                violate.appendChild(itemDiv);
                        }


                    });
                    let form = document.getElementById('custom_indicator');
                    var content = document.querySelector('.block5 .content');
                    while (content.firstChild) {
                        content.removeChild(content.firstChild);
                    }
                    data['待決定'].forEach(function(itemName) {
                        if(itemName != 'nan' &&  itemName != ''){
                            if (point.data.name=="買點" && itemName.includes("買")){
                                var item = document.createElement('div');
                                item.className = 'item';
                                item.innerHTML = `
                                    <label>
                                        <input type="checkbox" name="${itemName}" value="遵守" class="checkmark-radio">
                                        <span>✔</span>
                                    </label>
                                    <label>
                                        <input type="checkbox" name="${itemName}" value="違反" class="cross-radio">
                                        <span>✘</span>
                                    </label>
                                    ${itemName}
                                `;
                                content.appendChild(item);
                            }
                            else if(point.data.name=="賣點" && itemName.includes("賣")){
                                var item = document.createElement('div');
                                item.className = 'item';
                                item.innerHTML = `
                                    <label>
                                        <input type="checkbox" name="${itemName}" value="遵守" class="checkmark-radio">
                                        <span>✔</span>
                                    </label>
                                    <label>
                                        <input type="checkbox" name="${itemName}" value="違反" class="cross-radio">
                                        <span>✘</span>
                                    </label>
                                    ${itemName}
                                `;
                                content.appendChild(item);
                            }


                        }
                    });
                    data['遵守'].forEach(function(itemName) {
                        if(itemName != 'nan' && itemName != ''){
                        var item = document.createElement('div');
                        item.className = 'item';
                        item.innerHTML = `
                            <label>
                                <input type="checkbox" name="${itemName}" value="遵守" class="checkmark-radio" checked>
                                <span>✔</span>
                            </label>
                            <label>
                                <input type="checkbox" name="${itemName}" value="違反" class="cross-radio">
                                <span>✘</span>
                            </label>
                            ${itemName}
                        `;
                        content.appendChild(item);
                        }
                    });
                    data['違反'].forEach(function(itemName) {
                        if(itemName != 'nan' &&  itemName != ''){
                        var item = document.createElement('div');
                        item.className = 'item';
                        item.innerHTML = `
                            <label>
                                <input type="checkbox" name="${itemName}" value="遵守" class="checkmark-radio" >
                                <span>✔</span>
                            </label>
                            <label>
                                <input type="checkbox" name="${itemName}" value="違反" class="cross-radio" checked>
                                <span>✘</span>
                            </label>
                            ${itemName}
                        `;
                        content.appendChild(item);
                        }
                    });

                    let submit = document.createElement('input');
                    submit.type = 'submit';
                    console.log("form", form)


                    for (let custom of stay) {
                        if(custom != 'nan'){
                        let label = document.createElement('label');
                        label.setAttribute('for', custom);
                        label.textContent = custom + ':';
                        form.appendChild(label);

                        let select = document.createElement('select');
                        select.id = custom;
                        select.name = custom;
                        let option1 = document.createElement('option');
                        option1.value = '遵守';
                        option1.textContent = '遵守';
                        select.appendChild(option1);

                        let option2 = document.createElement('option');
                        option2.value = '違反';
                        option2.textContent = '違反';
                        select.appendChild(option2);
                        form.appendChild(select);

                        form.appendChild(document.createElement('br'));
                        }
                    }
                    form.appendChild(submit);

                });

            }
        });
        window.onload = function() {
            document.getElementById("profit").value = {{ earning|safe }};
            document.getElementById("ratio").value = {{ earate|safe }};
            document.getElementById("number").value = {{ trades|length|safe }};
      }

        // 获取按钮和两个图形元素
        var button = document.getElementById('toggle-button');
        var fig = document.getElementById('fig');
        var fig2 = document.getElementById('fig2');

        // 监听按钮的点击事件
        button.addEventListener('click', function() {
            // 切换 fig 和 fig2 的显示状态
            if (fig.style.display === 'none') {
                fig.style.display = 'block';
                fig2.style.display = 'none';
            } else {
                fig.style.display = 'none';
                fig2.style.display = 'block';
            }
        });
    </script>
</body>
</html>

